includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false

    paths:
        - app/

    excludePaths:
        - storage/
        - bootstrap/

    level: 10

    scanFiles:
        - _ide_helper_models.php

    parallel:
        processTimeout: 3600.0

    ignoreErrors:
        - identifier: trait.unused
