includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    treatPhpDocTypesAsCertain: false

    paths:
        - app/

    level: 5

    parallel:
        processTimeout: 3600.0
